/node_modules
/public/hot
/public/storage
/public/dist
/public/images
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
composer-lock.json
package-lock.json
/public/build/manifest-backend.json
/public/build/js/frontend.js
/public/build/js/backend.js
/resources/js/vendor/vue-i18n-locales.generated.js
